.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(43, 22, 0, 0.753);

    z-index: 50;
}

.alert-box{
    position: fixed;
    color: rgb(97, 39, 0);
    top: 30vh;
    left: 20vw;
    width: 60vw;
    padding: 16px;
    z-index: 100;
    background-color: rgb(255, 243, 228);
    box-shadow: 0 2px 8px rgb(255, 250, 244);
}

.alert-box-actions{
    text-align: right;
}

.btn{
    background-color: rgb(97, 39, 0) !important;
    color: white !important;
}