input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 1px solid red;
}

*{
    color: rgb(124, 79, 38);
}

input,textarea{
    border: 1px solid rgb(199, 139, 83);
}


.btn{
    margin-top: 20px;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}

.img-preview{
    height: 300px;
    width: 300px;
    object-fit:fill;

    border: 2px solid brown;
    border-radius: 30px;
}

input:focus, textarea:focus{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-shadow: 0 0 5px rgb(224, 146, 72);
    border: 1px solid rgb(199, 139, 83);
}